<nav class="navbar navbar-light bg-light mb-5">
   <a class="navbar-brand">
        <img src="../../assets/img/logo.png" class="d-inline-block align-top" width="30" height="30">PokeFace
    </a>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Posts</a>
              </li>
            </ul>  
</nav>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<router-outlet></router-outlet>
<button (click)="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up"></i></button>